<a href="https://colab.research.google.com/github/aatish20N/Aatish/blob/master/Practice/Practice_1__w3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Basic Part 1 -- W3 Resource

In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
import platform
print(platform.python_version())

3.7.13

In [4]:
import datetime
now = datetime.datetime.now()
print("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M%S"))

Current date and time :
2022-05-31 10:3253

In [5]:
from math import  pi
r = float(input ("Input the radius of the circle : "))
print ("The radius of the Circle with radius " + str(r) + "is: " + str (pi * r**2))

Input the radius of the circle : 56
The radius of the Circle with radius 56.0is: 9852.03456165759

In [7]:
Firstname = input ("Enter your First Name : ")
Lastname = input ("Enter your Last Name : ")
print ("Hello " + Lastname + " " + Firstname)

Enter your First Name : Aatish
Enter your Last Name : Nandanwar
Hello Nandanwar Aatish

In [9]:
values = input ("Enter Some comma seperated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ', list)
print ('Tuple : ', tuple)

Enter Some comma seperated numbers : 5,6,8,1,56,65,21,0,36
List :  ['5', '6', '8', '1', '56', '65', '21', '0', '36']
Tuple :  ('5', '6', '8', '1', '56', '65', '21', '0', '36')

In [10]:
filename = input("Enter the name of the file : ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Enter the name of the file : abc.java
The extension of the file is : 'java'

In [12]:
color_list = ["Red", "Green", "White ", "Black"]
print ("%s %s"%(color_list[0], color_list[-1]))

Red Black

In [13]:
exam_st_date = (11,12,2014)
print("The examnination will start from : %i / %i / %i"%exam_st_date)

The examnination will start from : 11 / 12 / 2014

In [15]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 25
255075

In [21]:
print(abs.__doc__)

Return the absolute value of the argument.

In [24]:
import calendar
y = int(input("Enter the year : "))
m = int(input("Enter the month : "))
print(calendar.month(y,m))

Enter the year : 2022
Enter the month : 5
      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [25]:
print("""
a string that you "don't" have to escape
This 
is a ....... mutli-line
heredoc string ------> example
""")

a string that you "don't" have to escape
This
is a ....... mutli-line
heredoc string ------> example

In [29]:
from datetime import date
f_date = date(2014,2,10)
l_date = date(2022,5,31)
delta = l_date - f_date
print(delta.days)

3032

In [42]:
r - int(input(" Enter the radius : "))
pi = 3.1415
V = 4.0/3.0*pi*r**3
print("The Volume of Sphere with Radius = is : ", V)

 Enter the radius : 5
The Volume of Sphere with Radius = is :  735596.8853333333

In [44]:
def difference (n):
  if n <= 17:
    return 17 - n
  else:
    return (n-17)*2

print(difference (22))
print(difference (14))

10
3